@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

.dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.sidebar {
    width: 20%;
    background-color: #264653;

}

#nome {
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 15px;
    background-color: #000;
}

.sidebar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sidebar a:hover{
    background-color: #2A9D8F;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.content {
padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn-compra {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.content h1 {
    margin-bottom: 50px; /* Adjust the value as needed */
}

.table-container {
    margin-top: 20px; /* Adjust the value as needed */
}