# Ativa a reescrita de URL
RewriteEngine On

# Define o arquivo index.php como o principal a ser carregado
DirectoryIndex index.php

# Se o arquivo ou diretório solicitado não existir, redirecione para index.php
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>

# Permite a exibição de diretórios se nenhum arquivo index for encontrado
Options +Indexes
